<div class="pt-20 text-center">
  <h2 class="mb-10 text-3xl lg:text-4xl font-bold">
    {{ i18n.text().cv.competences.title }}
  </h2>
  <div class="flex flex-wrap justify-center gap-4">
    @for (competence of competencesList; track competence.name) {
      <div class="bg-white/10 backdrop-blur-md rounded-2xl p-4 w-32 h-32 flex flex-col justify-center items-center gap-2 border border-white/20 transform transition-all duration-300 hover:scale-110 hover:bg-white/20 hover:shadow-xl">
        <img [src]="competence.image" [alt]="competence.name + ' logo'" class="h-12 w-12 object-contain">
        <h3 class="font-bold text-center text-sm">{{ competence.name }}</h3>
      </div>
    }
  </div>
</div>
