<section>
  <div class="pt-20 radius-for-skewed">
    <div class="container px-4 mx-auto">
      <div class="max-w-6xl mx-auto">
        <div class="max-w-lg mx-auto mb-8 text-center">
          <h2
            class="mb-2 text-4xl lg:text-5xl font-bold font-heading transition-transform transform hover:scale-105 duration-300">
            {{ this.i18n.text.contact.title }}
          </h2>
        </div>
        <div class="max-w-screen-xl px-4 grid gap-2 grid-cols-1 md:px-12 lg:px-16 xl:px-36 mx-auto rounded-lg">
          <app-contact-skeletons *ngIf="isLoading"></app-contact-skeletons>
          <form (ngSubmit)="processForm()" *ngIf="!isLoading">
            <div>
              <label class="uppercase text-sm font-bold block">
                {{ this.i18n.text.contact.name }}
                <input
                  #nameInput="ngModel"
                  [(ngModel)]="name"
                  class="w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                  minlength="3"
                  name="name"
                  placeholder="{{ this.i18n.text.contact.name }}"
                  required
                  type="text">
              </label>
            </div>
            <div class="mt-8">
              <label class="uppercase text-sm font-bold block">
                Email
                <input
                  #emailInput="ngModel"
                  [(ngModel)]="email"
                  class="w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                  name="email"
                  placeholder="Email"
                  required
                  type="email">
              </label>
            </div>
            <div class="mt-8">
              <label class="uppercase text-sm font-bold block">
                Message
                <textarea
                  #messageInput="ngModel"
                  [(ngModel)]="message"
                  class="w-full h-32 bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                  name="message"
                  placeholder="Message">
                </textarea>
              </label>
            </div>
            <div class="mt-5 flex justify-center">
              <ngx-turnstile (resolved)="dkmdpqjdnqdoqdkn($event)" [siteKey]="dkqgdoijqdljbkfks" [tabIndex]="0"
                             theme="light"></ngx-turnstile>
            </div>
            <div class="mt-4">
              <button
                class="uppercase text-sm font-bold tracking-wide text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline transition-all duration-300 bg-gradient-to-r from-green-600 to-emerald-700 hover:shadow-lg hover:shadow-green-600/30"
                name="submit" type="submit">
                {{ this.i18n.text.contact.sendButton }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
