<section>
  <div class="py-20 radius-for-skewed">
    <div class="container px-4 mx-auto">

      <app-competences></app-competences>

      <section class="w-full mb-10">
        <h3 class="font-bold text-2xl md:text-4xl mb-3">
          Formations
        </h3>
        <div>
          <div class="flex flex-row mb-5">
            <div class="self-center flex h-3 w-3 mr-3 relative"><span
              class="relative inline h-3 w-3 rounded-full opacity-75 animate-ping bg-green-600 dark:bg-amber-400"></span>
              <span class="inline absolute rounded-full h-3 w-3 bg-green-600 dark:bg-amber-400"></span></div>
            <div class="leading-7">
              <p class="text-base  leading-6">Juillet 2020 - Aujourd'hui</p>
              <h1 class="text-2xl font-bold">AWS - Professional</h1>
              <h2 class="text-xl ">Deux ans d'expérience complète dans la conception,
                l'exploitation et la résolution des problèmes des solutions en utilisant le Cloud AWS.</h2>
            </div>
          </div>
        </div>
        <div>
          <div class="flex flex-row mb-5">
            <div class="self-center flex h-3 w-3 mr-3 relative"><span
              class="relative inline h-3 w-3 rounded-full opacity-75 bg-gray-400"></span> <span
              class="inline absolute rounded-full h-3 w-3 bg-gray-500"></span></div>
            <div class="leading-7">
              <p class="text-base  leading-6">Aout 2018</p>
              <h1 class="text-2xl font-bold">LPIC 1</h1>
              <h2 class="text-xl ">Obtention de la certification LPIC 1</h2>
            </div>
          </div>
        </div>
        <div>
          <div class="flex flex-row mb-5">
            <div class="self-center flex h-3 w-3 mr-3 relative"><span
              class="relative inline h-3 w-3 rounded-full opacity-75 bg-gray-400"></span> <span
              class="inline absolute rounded-full h-3 w-3 bg-gray-500"></span></div>
            <div class="leading-7">
              <p class="text-base  leading-6">Octobre 2016</p>
              <h1 class="text-2xl font-bold">Certified Kubernetes Administrator</h1>
              <h2 class="text-xl ">Obtention de la certification CKA</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="w-full mb-10">
        <h3 class="font-bold text-2xl md:text-4xl">
          Langues
        </h3>
        <div>
          <table class="text-base text-xl">
            <tr>
              <td class="py-2 pr-4">Français</td>
            </tr>
            <tr>
              <td class="py-2 pr-4">Anglais</td>
            </tr>
          </table>
        </div>
      </section>

      <section class="w-full mb-10">
        <h3 class="font-bold text-2xl md:text-4xl">
          Intérêts
        </h3>
        <div>
          <ul class="text-xl">
            <li class="my-2">
              Technologies
            </li>
            <li class="my-2">
              Développement
            </li>
            <li class="my-2">
              DevOps
            </li>
            <li class="my-2">
              Administration systèmes et réseaux
            </li>
            <li class="my-2">
              Voyage
          </ul>
        </div>
      </section>

    </div>
  </div>
</section>
