<section>

  <div class="pt-20 radius-for-skewed">
    <div class="container px-4 mx-auto">
      <div class="max-w-6xl mx-auto text-center">
        <div class="max-w-lg mx-auto">
          <span class="text-green-600 font-bold"></span>
          <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading">{{this.i18n.text.shield.title}}</h2>
        </div>
        <div class="mb-12">
          <p></p>
        </div>
        <div class="mb-6">
          <div class="flex flex-row mb-5">
            <div *ngIf="status" class="self-center flex h-3 w-3 mr-3 relative"><span
              class="relative inline h-3 w-3 rounded-full opacity-75 animate-ping bg-green-600"></span>
              <span class="inline absolute rounded-full h-3 w-3 bg-green-600"></span></div>
            <div *ngIf="!status" class="self-center flex h-3 w-3 mr-3 relative"><span
              class="relative inline h-3 w-3 rounded-full opacity-75 bg-gray-400"></span> <span
              class="inline absolute rounded-full h-3 w-3 bg-gray-500"></span></div>
            <div class="leading-7">
              <p class="text-2xl">{{this.i18n.text.shield.servers}} : {{ servers }}</p>
            </div>
          </div>
          <div class="flex flex-row mb-5">
            <div *ngIf="status" class="self-center flex h-3 w-3 mr-3 relative"><span
              class="relative inline h-3 w-3 rounded-full opacity-75 animate-ping bg-green-600"></span>
              <span class="inline absolute rounded-full h-3 w-3 bg-green-600"></span></div>
            <div *ngIf="!status" class="self-center flex h-3 w-3 mr-3 relative"><span
              class="relative inline h-3 w-3 rounded-full opacity-75 bg-gray-400"></span> <span
              class="inline absolute rounded-full h-3 w-3 bg-gray-500"></span></div>
            <div class="leading-7">
              <p class="text-2xl">{{this.i18n.text.shield.protected}} : {{ protected }}</p>
            </div>
          </div>
          <div class="flex flex-row mb-5">
            <div *ngIf="status" class="self-center flex h-3 w-3 mr-3 relative"><span
              class="relative inline h-3 w-3 rounded-full opacity-75 animate-ping bg-green-600"></span>
              <span class="inline absolute rounded-full h-3 w-3 bg-green-600"></span></div>
            <div *ngIf="!status" class="self-center flex h-3 w-3 mr-3 relative"><span
              class="relative inline h-3 w-3 rounded-full opacity-75 bg-gray-400"></span> <span
              class="inline absolute rounded-full h-3 w-3 bg-gray-500"></span></div>
            <div class="leading-7">
              <p class="text-2xl">{{this.i18n.text.shield.total}} : {{ total }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
