<header class="shadow-lg lg:pb-4 bg-white" id="navHeader">
  <nav>
    <div class="w-full container mx-auto flex flex-wrap items-center mt-0 py-2" id="navDiv">
      <div class="block lg:hidden pr-3">
        <button
          class="flex items-center p-4 text-black hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          id="nav-toggle"
          style="font-size: 0">
          Navbar
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50" id="nav-content">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="relative flex flex-col py-6 px-6 h-full w-full bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <a class="mr-auto text-3xl font-bold leading-none" routerLink="">
            <h1 class="h-10">GaetanDev</h1>
          </a>
          <button (click)="disableMobileMenu()" class="navbar-close">
            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" fill="none"
                 stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1"><a
              (click)="disableMobileMenu()"
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded"
              routerLink="">{{ this.i18n.text.navbar.home }}</a></li>
            <li class="mb-1"><a
              (click)="disableMobileMenu()"
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded"
              routerLink="/about">{{ this.i18n.text.navbar.about }}</a></li>
            <li class="mb-1"><a
              (click)="disableMobileMenu()"
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded"
              routerLink="/achievements">{{ this.i18n.text.navbar.achievements }}</a></li>
            <li class="mb-1"><a
              (click)="disableMobileMenu()"
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded"
              routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <p class="my-4 text-xs text-center text-gray-400">
            <span>{{ this.i18n.text.devWithLove }}.</span>
          </p>
          <div class="text-center">
            <a class="inline-block px-1" href="https://twitter.com/Gaetan_Off/" target="_blank">
              <img alt="" src="assets/img/social/twitter.svg">
            </a>
            <a class="inline-block px-1" href="https://www.instagram.com/gaetan_dev/" target="_blank">
              <img alt="" src="assets/img/social/instagram.svg">
            </a>
            <a class="inline-block px-1" href="https://github.com/GaetanOff/" target="_blank">
              <img alt="" src="assets/img/social/github.svg">
            </a>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <div (click)="onSwitchLanguage()"
               class=" p-1.5">
            <img alt="Language logo" src="{{languageImg}}" width="30">
          </div>
        </div>
      </nav>
    </div>
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between">
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div
            class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:mt-0 lg:bg-transparent p-4 lg:p-0 z-20">
            <ol class="list-reset lg:flex justify-center flex-1 items-center" id="navbar-content">
              <li>
                <a (click)="onClickList()"
                   class="lg:hover:bg-green-600 lg:hover:text-white px-3 py-2 rounded-md font-medium" id="accueil"
                   routerLink="">{{ this.i18n.text.navbar.home }}</a>
              </li>
              <li class="text-gray-300">
                <svg class="w-4 h-4 current-fill" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                    stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"></path>
                </svg>
              </li>
              <li>
                <a (click)="onClickList()"
                   class="lg:hover:bg-green-600 lg:hover:text-white px-3 py-2 rounded-md font-medium" id="about"
                   routerLink="/about">{{ this.i18n.text.navbar.about }}</a>
              </li>
              <li class="text-gray-300">
                <svg class="w-4 h-4 current-fill" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                    stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"></path>
                </svg>
              </li>
              <li>
                <a (click)="onClickList()"
                   class="lg:hover:bg-green-600 lg:hover:text-white px-3 py-2 rounded-md font-medium" id="real"
                   routerLink="/achievements">{{ this.i18n.text.navbar.achievements }}</a>
              </li>
              <li class="text-gray-300">
                <svg class="w-4 h-4 current-fill" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
                    stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"></path>
                </svg>
              </li>
              <li>
                <a (click)="onClickList()"
                   class="lg:hover:bg-green-600 lg:hover:text-white px-3 py-2 rounded-md font-medium" id="contact"
                   routerLink="/contact">Contact</a>
              </li>
            </ol>
          </div>
        </div>
        <div class="flex items-center space-x-2">
          <div class="darkModeDesk">
            <div (click)="onSwitchLanguage()"
                 class="p-1.5 cursor-pointer"
                 id="language">
              <img alt="" src="{{languageImg}}" width="30" height="20">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
