<header class="shadow-lg md:pb-4 {{darkClass}}" id="navHeader">
  <nav>
    <div class="w-full container mx-auto flex flex-wrap items-center  mt-0 py-2" id="navDiv">
      <div class="block lg:hidden pr-3">
        <button
          class="flex items-center p-4 text-black hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          id="nav-toggle">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="lg:hidden hidden" id="nav-content">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a aria-current="page"
           class="hover:bg-green-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
           (click)="onClickList()" routerLink="">Accueil</a>

        <a class="hover:bg-green-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
           (click)="onClickList()" routerLink="/about">A Propos</a>

        <a class="hover:bg-green-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
           (click)="onClickList()" routerLink="/blog">Blog</a>

        <a class="hover:bg-green-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
           (click)="onClickList()" routerLink="/achievements">Réalisations</a>

        <a class="hover:bg-green-600 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
           (click)="onClickList()" routerLink="/contact">Contact</a>

        <div (click)="onToggle()"
             class="lg:hidden flex items-center p-1.5 rounded-xl duration-200">
          <img src="{{darkImg}}">
        </div>
      </div>
    </div>
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between">
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div
            class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:mt-0 lg:bg-transparent p-4 lg:p-0 z-20">
            <ol class="list-reset lg:flex justify-center flex-1 items-center" id="navbar-content">
              <li class="mr-3">
                <a class="lg:hover:bg-green-600 lg:hover:text-white px-3 py-2 rounded-md font-medium"
                   id="accueil" (click)="onClickList()" routerLink="">Accueil</a>
              </li>
              <li class="mr-3">
                <a class="lg:hover:bg-green-600 lg:hover:text-white px-3 py-2 rounded-md font-medium"
                   id="about" (click)="onClickList()" routerLink="/about">A Propos</a>
              </li>
              <li class="mr-3">
                <a class="lg:hover:bg-green-600 lg:hover:text-white px-3 py-2 rounded-md font-medium"
                   id="blog" (click)="onClickList()" routerLink="/blog">Blog</a>
              </li>
              <li class="mr-3">
                <a class="lg:hover:bg-green-600 lg:hover:text-white px-3 py-2 rounded-md font-medium"
                   id="real" (click)="onClickList()" routerLink="/achievements">Réalisations</a>
              </li>
              <li class="mr-3">
                <a class="lg:hover:bg-green-600 lg:hover:text-white px-3 py-2 rounded-md font-medium"
                   id="contact" (click)="onClickList()" routerLink="/contact">Contact</a>
              </li>
            </ol>
          </div>
        </div>
        <div class="darkModeDesk">
          <div (click)="onToggle()" class="flex items-center p-1.5 rounded-xl hover:bg-opacity-25 hover:shadow-lg duration-200"
               id="dark">
            <img src="{{darkImg}}">
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
