@media all and (min-width: 1001px) {
  .darkModeDesk {
    display: block;
  }
}

@media all and (max-width: 1000px) {
  .darkModeDesk {
    display: none;
  }
}

.transitionMode {
  transition: all 0.3s linear;
}

.black {
  background-color: #2d3436;
}

.animate__animated {
  animation: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
