<header class="shadow-lg md:pb-4">
  <div class="relative px-2 py-2 flex justify-between items-center">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <a class="toggleColour no-underline hover:no-underline font-bold text-2xl lg:text-4xl" id="logo"
           routerLink="">
          GaetanDev
        </a>
      </div>
      <div class="block lg:hidden pr-4">
        <button
          class="flex items-center p-1 text-black hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          id="nav-toggle">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
          </svg>
        </button>
      </div>
      <div
        class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 lg:bg-transparent p-4 lg:p-0 z-20"
        id="nav-content">
        <ul class="list-reset lg:flex justify-center flex-1 items-center ">
          <li class="mr-3">
            <a class="inline-block py-2 px-4 hover:text-green-400 no-underline"
               id="serv" routerLink="/services">Services</a>
          </li>
          <li class="mr-3">
            <a class="inline-block no-underline hover:text-green-400 hover:text-underline py-2 px-4"
               id="real" routerLink="/achievements">Réalisations</a>
          </li>
          <li class="mr-3">
            <a class="inline-block no-underline hover:text-green-400 hover:text-underline py-2 px-4"
               id="contact" routerLink="/contact">Contact</a>
          </li>
        </ul>
        <div class="hover:shadow-lg mb-3 mr-2 p-1 duration-300 rounded-3xl hover:bg-opacity-25">
          <img (click)="onToggle()" src="{{darkImg}}">
        </div>
      </div>
    </div>
  </div>
</header>
