@media all and (min-width: 1027px) {
  .darkModeDesk {
    display: block;
  }
}

@media all and (max-width: 1026px) {
  .darkModeDesk {
    display: none;
  }
}

.font-bold {
  font-weight: 700;
}

.bg-gray-custom {
  --tw-bg-opacity: 1;
  background-color: #2d3436;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: white;
}

.sticky {
  position: -webkit-sticky;
  position: sticky
}
