<div class="text-white prose prose-invert max-w-none prose-headings:font-bold prose-p:my-2">
  <h1 class="text-4xl lg:text-5xl font-bold mb-8 text-center">{{ i18n.text().title.legal }}</h1>

  <div class="space-y-6">
    <section>
      <h2 class="text-2xl">{{ i18n.text().legal.declaration }}</h2>
      @for (text of i18n.text().legal.declarationText; track text) {
        <p>{{ text }}</p>
      }
    </section>

    <section>
      <h2 class="text-2xl">{{ i18n.text().legal.host }}</h2>
      <p>{{ i18n.text().legal.hostText }}</p>
    </section>

    <section>
      <h2 class="text-2xl">{{ i18n.text().legal.reproductionTitle }}</h2>
      <p>{{ i18n.text().legal.reproductionText }}</p>
      <p>{{ i18n.text().legal.copyrightText }} ©</p>
    </section>
  </div>
</div>
