<div class="text-center text-white py-16">
  <h1 class="text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-red-400 to-red-600 mb-4">
    404
  </h1>
  <h2 class="text-4xl lg:text-5xl font-bold mt-4">
    {{ i18n.text().error.notfound.title }}
  </h2>
  <p class="text-lg text-gray-300 mt-4 max-w-xl mx-auto">
    {{ i18n.text().error.notfound.description }}
  </p>
  <p class="text-gray-400 mb-8 max-w-xl mx-auto">
    {{ i18n.text().error.notfound.moved }}
  </p>

  <a [routerLink]="getLocalizedRoute('/')" class="bg-white/20 hover:bg-white/30 backdrop-blur-md text-white font-semibold py-3 px-8 rounded-xl border border-white/30 transition-all duration-300 shadow-md hover:shadow-lg transform hover:-translate-y-1">
    <span>{{ i18n.text().error.notfound.button }}</span>
  </a>
</div>
