<section>
  <div class="py-20 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/2 mb-12 lg:mb-0">
          <div class="max-w-md lg:mx-auto">
            <h2 class="my-2 text-4xl lg:text-5xl font-bold font-heading">Mes réalisations</h2>
          </div>
        </div>
        <div class="w-full lg:w-1/2 flex flex-wrap -mx-4">
          <div class="mb-8 lg:mb-0 w-full md:w-1/2 px-4">
            <a href="https://lighter-security.com/" target="_blank">
              <div class="mb-8 py-6 pl-6 pr-4 shadow rounded bg-white hover:shadow-lg hover:border-transparent">
                <h4 class="text-black mb-2 text-2xl font-bold font-heading">Lighter - Security</h4>
                <p class="text-gray-500 leading-loose">La plateform N°1 de sécurité contre les DDoS pour les serveurs
                  minecraft.</p>
              </div>
            </a>
            <a href="https://gaetandev.fr/" target="_blank">
              <div class="py-6 pl-6 pr-4 shadow rounded bg-white hover:shadow-lg hover:border-transparent">
                <h4 class="text-black mb-2 text-2xl font-bold font-heading">GaetanDev - Portfolio</h4>
                <p class="text-gray-500 leading-loose">Mon portfolio personnel.</p>
              </div>
            </a>
          </div>
          <div class="w-full md:w-1/2 lg:mt-20 px-4">
            <a href="https://github.com/GaetanOff/Firewall-Template" target="_blank">
              <div class="mb-8 py-6 pl-6 pr-4 shadow rounded-lg bg-white hover:shadow-lg hover:border-transparent">
                <h4 class="text-black mb-2 text-2xl font-bold font-heading">Firewall - Template</h4>
                <p class="text-gray-500 leading-loose">Un exemple de règles de pare-feu pouvant être utilisées pour un
                  serveur minecraft, pour bloquer les exploits.</p>
              </div>
            </a>
            <div class="py-6 pl-6 pr-4 shadow rounded-lg bg-white hover:shadow-lg hover:border-transparent">
              <h4 class="text-black mb-2 text-2xl font-bold font-heading">Framework - GoLang/C</h4>
              <p class="text-gray-500 leading-loose">Mon framework back-end fait en GoLang et en C multi-plateforme.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
