<section>
  <div class="py-20 radius-for-skewed">
    <div class="container px-4 mx-auto">
      <div class="max-w-6xl mx-auto text-center">
        <div class="max-w-lg mx-auto">
          <span class="text-green-600 font-bold"></span>
          <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading">Mes réalisations</h2>
          <p class="mb-6 text-gray-500"></p>
        </div>
        <div class="">

          <div class="mx-0 sm:mx-6">

            <div class="">

              <!--Posts Container-->
              <div class="flex flex-wrap justify-between pt-12 -mx-6">

                <!--1/3 col -->
                <div
                  class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink duration-300 transform hover:scale-110 motion-reduce:transform-none">
                  <div class="flex-1  rounded-t rounded-b-none overflow-hidden shadow-lg">
                    <a class="flex flex-wrap no-underline hover:no-underline" href="https://lighter-security.com/" target="_blank">
                      <img class="h-64 w-full rounded-t pb-6" src="assets/img/achievements/lighter.png">
                      <div class="w-full font-bold text-xl  px-6 mb-8">Lighter-Security</div>
                      <p class=" text-base px-6">
                        La plateforme N°1 de sécurité contre les DDoS pour les serveurs minecraft/fivem/gmod.
                      </p>
                    </a>
                  </div>
                </div>


                <!--1/3 col -->
                <div
                  class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink duration-300 transform hover:scale-110 motion-reduce:transform-none">
                  <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
                    <a class="flex flex-wrap no-underline hover:no-underline" href="https://github.com/GaetanOff/Firewall-Template" target="_blank">
                      <img class="h-64 w-full rounded-t pb-6"
                           src="assets/img/achievements/Firewalls.jpg">
                      <div class="w-full font-bold text-xl  px-6 mb-8">Firewall - Template</div>
                      <p class=" text-base px-6 mb-5">
                        Un exemple de règles de pare-feu pouvant être utilisées pour un serveur Linux, pour bloquer
                        certaines attaques.
                      </p>
                    </a>
                  </div>
                </div>

                <!--1/3 col -->
                <div
                  class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink duration-300 transform hover:scale-110 motion-reduce:transform-none">
                  <div class="flex-1  rounded-t rounded-b-none overflow-hidden shadow-lg">
                    <a class="flex flex-wrap no-underline hover:no-underline" href="#">
                      <img class="h-64 w-full rounded-t pb-6"
                           src="assets/img/achievements/portfolio.jpg">
                      <div class="w-full  font-bold text-xl  px-6 mb-8">GaetanDev - Portfolio</div>
                      <p class=" text-base px-6 mb-5">
                        Mon site personnel et mon back-end fait avec Laravel.
                      </p>
                    </a>
                  </div>
                </div>

              </div>
              <!--/ Post Content-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
