<section>
  <div class="py-20 radius-for-skewed">
    <div class="container px-4 mx-auto">
      <div class="mb-16 max-w-2xl mx-auto text-center">
        <div class="max-w-lg mx-auto">
          <span class="text-green-600 font-bold"></span>
          <h2 class="mb-2 text-4xl lg:text-3xl font-bold font-heading">Principales technologies utilisées</h2>
          <p class="mb-6 text-gray-500"></p>
        </div>
      </div>

      <section class="w-full mb-10 mt-4">
        <div
          class="flex flex-row w-full overflow-x-auto md:overflow-x-hidden lg:flex-wrap space-x-4 lg:space-x-0 lg:justify-center">
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Java.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center">JVM</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/TS.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center">TypeScript</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Angular.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Angular</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Sass.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">SASS</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Go.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">GoLang</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/c-programming.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">C</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/c++.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">C++</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/CSharp.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">C#</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Dart.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Dart</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Flutter.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Flutter</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/nodejs.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">NodeJS</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/aws-logo.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">AWS</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/GCP.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">GCP</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/OVH.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">OVHCloud</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Promet.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Prometheus</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Grafana.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Grafana</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Datadog.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Datadog</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/VMWare.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">VMware</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Proxmox.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Proxmox</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Unraid.net.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Unraid</h1></div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Docker.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Docker</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/containerd.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Containerd</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/k8s.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Kubernetes</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/Terraform.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Terraform</h1>
              </div>
            </div>
          </div>
          <div>
            <div
              class="hover:shadow-lg mb-3 mr-2 p-1 md:p-2 h-32 w-32 border-gray-900 dark:border-dark-200 border-2 duration-300 rounded-3xl hover:bg-opacity-25">
              <div class="w-full h-full flex flex-col justify-center items-center">
                <div><img alt="Skill Img" class="rounded-sm" src="assets/img/comp/ansible_logo.png"></div>
                <h1 class="md:text-lg text-md font-bold text-center ">Ansible</h1></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
