<div class="pt-20">
  <h2 class="text-3xl lg:text-4xl font-bold text-center mb-12">
    {{ i18n.text().cv.certif.title }}
  </h2>
  <div class="relative max-w-4xl mx-auto px-4 md:px-6">
    <div class="absolute z-0 w-0.5 h-full bg-white/20 shadow-md left-1/2 -translate-x-1/2 top-0"></div>
    @for (certif of certifList(); track certif.name; let i = $index) {
      <div class="relative z-10 mb-8 flex items-center">
        <div class="timeline-marker-container">
          @if (certif.active) {
            <div class="timeline-marker-ping"></div>
          }
          <div class="timeline-marker-dot" [class.bg-green-400]="certif.active" [class.bg-gray-400]="!certif.active"></div>
        </div>
        <div class="timeline-item" [class.timeline-item-left]="i % 2 === 0" [class.timeline-item-right]="i % 2 !== 0">
          <div class="bg-white/10 backdrop-blur-md rounded-2xl p-6 border border-white/20 transform transition-all duration-300 hover:scale-105 hover:bg-white/20 w-full">
            <p class="text-sm text-gray-300">{{ certif.date }}</p>
            <h3 class="text-xl font-bold mt-1">{{ certif.name }}</h3>
            <p class="text-gray-200 mt-1">{{ certif.description }}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
