<section class="animate__animated animate__fadeIn">
  <div class="pt-20 radius-for-skewed">
    <div class="container px-4 mx-auto">
      <div class="max-w-6xl mx-auto">
        <div class="max-w-lg mx-auto mb-8 text-center">
          <span class="text-green-600 font-bold"></span>
          <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading">Mon blog</h2>
          <p class="mb-6 text-gray-500"></p>
        </div>
        <div
          class="max-w-screen-xl px-4 grid gap-2 grid-cols-1 md:grid-cols-1 md:px-12 lg:px-16 xl:px-36 py-10 mx-auto rounded-lg">
          <div *ngFor="let blog of blogsList" class="mb-6">
            <div class="text-center flex flex-col p-4 md:text-left md:flex-row md:items-center md:justify-between md:p-8 hover:shadow-lg border-2 rounded-3xl border-gray-900
              duration-300 hover:bg-green-600 hover:bg-opacity-25">
              <div class="text-2xl font-semibold">
                <div class="mb-3">{{ blog.name }}</div>
                <div class="text-gray-500 text-xl italic">{{ blog.description }}</div>
              </div>

              <div class="mt-3 md:mt-0 md:ml-2">
                <button
                  class="transform motion-reduce:transform-none duration-300 bg-green-600 hover:bg-green-700 text-gray-100 font-bold py-2 px-4 p-3 rounded-lg inline-flex items-center"
                  routerLink="{{ blog.redirect }}">
                  <svg class="fill-current w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                       xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          fill-rule="evenodd"></path>
                  </svg>
                  <span>Lire</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
