<section>
  <div class="pt-20">
    <div class="container mx-auto px-4">

      <div class="mb-16 max-w-2xl mx-auto text-center">
        <div class=" text-center mb-16">
          <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading ">Bonjour, je suis Gaëtan Faucher 👋</h2>
        </div>
      </div>

      <div class="max-w-4xl flex items-center flex-wrap mx-auto lg:my-0">

        <div
          class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none mx-6 lg:mx-0"
          id="profile">
          <div class="p-4 md:p-12 text-center lg:text-left">
            <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                 style="background-image: url('assets/img/Gaetan2.webp')"></div>
            <h1 class="text-3xl font-body pt-8 lg:pt-0 mb-4">Je suis un jeune développeur full-stack et DevOps !
              Je m'intéresse beaucoup aux nouvelles technologies, au développement et à l'informatique.</h1>
            <button
              class="ml-auto transform hover:scale-110 motion-reduce:transform-none duration-300 bg-green-600 hover:bg-green-700 text-gray-100 font-bold py-2 px-4 p-12 rounded-lg inline-flex items-center"
              routerLink="/contact">
              <span>Me contacter</span>
            </button>
            <button
              class="ml-2 transform hover:scale-110 motion-reduce:transform-none duration-300 bg-green-600 hover:bg-green-700 text-gray-100 font-bold py-2 px-4 p-12 rounded-lg inline-flex items-center"
              routerLink="/about">
              <span>En savoir plus</span>
            </button>
          </div>
        </div>

        <div class="w-full lg:w-2/5">
          <div class="relative" style="z-index: 0;">
            <img alt="Photo de profil" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block w-full h-full"
                 src="assets/img/Gaetan2.webp">
            <img alt="" class="hidden lg:block absolute"
                 src="assets/img/home/green-dark-up.svg" style="top:-2rem; right: 3rem; z-index: -1;">
            <img alt="" class="hidden lg:block absolute"
                 src="assets/img/home/wing-green-down.svg" style="bottom:-2rem; right: -2rem; z-index: -1;">
            <img alt="" class="hidden lg:block absolute"
                 src="assets/img/home/bullets-gray-right.svg" style="top:3rem; right: -3rem; z-index: -1;">
            <img alt="" class="hidden lg:block absolute"
                 src="assets/img/home/bullets-gray-left.svg" style="bottom:2.5rem; left: -4.5rem; z-index: -1;">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
