<div class="text-center text-white py-16 relative">
  <h1
    class="text-4xl lg:text-5xl font-extrabold tracking-tight text-transparent bg-clip-text bg-gradient-to-b from-white to-white/60 drop-shadow-sm mb-4">
    {{ i18n.text().home.welcome }}
    <span class="bg-gradient-to-r from-green-300 to-teal-300 bg-clip-text text-transparent">Faucher </span>
    <span class="animate-wave text-4xl lg:text-5xl text-white inline-block"> 👋</span>
  </h1>
  <p class="mt-4 text-gray-300/80 max-w-2xl mx-auto font-medium leading-relaxed mb-8">
    {{ i18n.text().desc }}
  </p>
  <div class="flex flex-col sm:flex-row items-center justify-center gap-4">
    <a [routerLink]="localeRoute.getLocalizedRoute('/contact')"
      class="bg-white/20 hover:bg-white/30 backdrop-blur-md text-white font-semibold py-3 px-8 rounded-xl border border-white/30 transition-all duration-300 shadow-md hover:shadow-lg transform hover:-translate-y-1 w-full sm:w-auto text-center">
      <span>{{ i18n.text().home.contactButton }}</span>
    </a>
    <a [routerLink]="localeRoute.getLocalizedRoute('/about')"
      class="bg-transparent hover:bg-white/10 backdrop-blur-md text-white font-semibold py-3 px-8 rounded-xl border border-white/30 transition-all duration-300 shadow-md hover:shadow-lg transform hover:-translate-y-1 w-full sm:w-auto text-center">
      <span>{{ i18n.text().learnMoreButton }}</span>
    </a>
  </div>
</div>