<app-templadmin>
  <div class="flex-1 p-8">
    <div class="flex flex-col md:flex-row justify-center md:justify-between">
      <form (ngSubmit)="processForm()" class="w-1/2 p-4">
        <h2 class="text-2xl font-bold mb-4">Whitelist IP Address</h2>
        <div class="mb-4">
          <label class="block text-sm font-semibold mb-1">IP</label>
          <label>
            <input
              #nameInput="ngModel"
              *ngIf="!isAdding"
              [(ngModel)]="address"
              class="input w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              minlength="3"
              name="address"
              placeholder="address"
              required
              type="text">
            <app-add-ip-skeletons *ngIf="isAdding"></app-add-ip-skeletons>
          </label>
        </div>
        <div class="mb-4">
          <label class="block text-sm font-semibold mb-1">Server</label>
          <div class="relative">
            <select [(ngModel)]="server"
                    class="w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 appearance-none">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <div class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
              ▼
            </div>
          </div>
        </div>
        <button class="px-4 py-2 bg-blue-500 hover:bg-blue-600 duration-300 text-white rounded-md" type="submit">WL</button>
      </form>
      <div class="w-1/2 p-4">
        <h2 class="text-2xl font-bold mb-4">All IP whitelisted</h2>
        <div *ngIf="isLoading">
          <app-whitelisted-ips-skeletons></app-whitelisted-ips-skeletons>
        </div>
        <div *ngIf="!isLoading">
          <div *ngFor="let ip of whitelistedIPs">
            <div *ngIf="ip !== '127.0.0.1' && removingIp !== ip"
                 class="flex items-center justify-between border-b border-gray-300 py-2">
              <div>{{ ip }}</div>
              <button (click)="removeWhitelistedIP(ip)" class="px-4 py-2 bg-red-500 text-white rounded-md">Remove
              </button>
            </div>
            <app-remove-ip-skeletons *ngIf="ip !== '127.0.0.1' && removingIp === ip"></app-remove-ip-skeletons>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-templadmin>
