<app-templadmin>
  <div class="flex-1 p-8">
    <h1 class="text-3xl font-bold mb-6">Corrector</h1>
    <div class="flex flex-col md:flex-row justify-center md:justify-between">
      <div class="w-1/2 p-4">
        <h2 class="text-2xl font-bold mb-4">Enter Text</h2>
        <app-corrector-text-skeletons *ngIf="isLoading; else textArea"></app-corrector-text-skeletons>
        <ng-template #textArea>
          <textarea [(ngModel)]="text" class="w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" rows="5" placeholder="Type your text here..."></textarea>
        </ng-template>
        <button (click)="correctText()" class="px-4 py-2 mt-4 bg-blue-500 text-white rounded-md" [disabled]="isLoading">
          {{ isLoading ? 'Correcting...' : 'Correct' }}
        </button>
      </div>
      <div class="w-1/2 p-4">
        <h2 class="text-2xl font-bold mb-4">Corrected Text</h2>
        <div class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg min-h-[120px]">
          {{ correctedText || 'Your corrected text will appear here...' }}
        </div>
      </div>
    </div>
  </div>
</app-templadmin>
