<!--Container-->
<div class="container w-full md:max-w-3xl mx-auto pt-20">

  <div class="w-full px-4 md:px-6 text-xl leading-normal">

    <!--Title-->
    <div class="font-sans">
      <p class="text-base md:text-sm text-green-500 font-bold">&lt;
        <a routerLink="/blog"
           class="text-base md:text-sm text-green-500 font-bold no-underline hover:underline">RETOUR</a></p>
      <h1 class="font-bold font-sans break-normal pt-6 pb-2 text-3xl md:text-4xl">Mes débuts dans la programmation</h1>
      <p class="text-sm md:text-base font-normal text-gray-600">Publié le 19 Octobre 2021</p>
    </div>

    <!--Post Content-->


    <!--Lead Para-->
    <p class="py-6">
      👋 Bienvenue sur mon premier article de blog. Dans cet article, je vais expliquer les raisons de pourquoi j'ai
      commencé le développement, comment je m'y suis lancé et ce que j'espère faire dans le futur.
    </p>

    <div class="mb-2">
      <h2 class="font-bold font-sans break-normal  text-3xl md:text-3xl">Présentation</h2>
      <p class="py-3">
        Je m'appelle Gaëtan Faucher,
        je suis un jeune développeur full-stack et DevOps basé à Montpellier en France.
      </p>
    </div>

    <div class="mb-4">
      <h3 class="font-bold font-sans break-normal  mb-2 text-3xl md:text-3xl">
        Sommaire
      </h3>
      <h1 class="py-1 font-sans">Comment ai-je commencé ?</h1>
      <h2 class="py-1 font-sans">Pourquoi ai-je commencé ?</h2>
      <h3 class="py-1 font-sans">Comment vois-je mon avenir dans ce domaine ?</h3>
      <h4 class="py-1 font-sans">Conclusion</h4>
    </div>

    <div class="mb-4">
      <h3 class="font-bold font-sans break-normal  text-3xl md:text-3xl">
        Comment ai-je commencé ?
      </h3>
      <ol>
        <li class="py-3">
          J'ai commencé à toucher à l'informatique à l'âge de 13 ans. Je jouais aux jeux vidéo, je regardais des vidéos.
        </li>
        <li class="py-3">
          Une année plus tard, grâce au jeu
          <a class="text-green-500 no-underline hover:underline" href="https://www.minecraft.net/" target="_blank">
            Minecraft</a>
          j'ai décidé de me lancer dans la programmation. J'ai donc commencé par le langage Java qui est le langage que ce jeu
          utilise.
        </li>
        <li class="py-3">
          Suite à ça, j'ai décidé de m'ouvrir à plus d'horizon, comme par exemple le développement web, mobile..
          Grâce à mes études et des formations, cours, vidéos j'ai pu acquérir un certain niveau.
        </li>
      </ol>
    </div>

    <div class="mb-4">
      <h4 class="font-bold font-sans break-normal  text-3xl md:text-3xl">
        Pourquoi ai-je commencé ?
        </h4>
      <ol>
        <li class="py-3">
          À l'origine, j'ai commencé la programmation pour pouvoir faire des modifications sur un jeu vidéo.
          Ce qui permettait d'avoir de nouveaux objets, animaux....
        </li>
        <li class="py-3">
          Après approximativement 2 années de développement, j'ai pu voir que le métier de développeur était très recherché, j'ai donc décidé de me lancer dans la réalisation de commission payante,
          ce qui me permettait de me payer de petites choses dans la vie et sur les jeux vidéo.
        </li>
        <li class="py-3">
          Au jour d'aujourd'hui, je réalise toujours des commissions ce qui me permet de me payer mes études, appartement, loisirs...
        </li>
      </ol>
    </div>

    <div class="mb-4">
      <h3 class="font-bold font-sans break-normal  text-3xl md:text-3xl">
        Comment vois-je mon avenir dans ce domaine ?
      </h3>
      <ol>
        <li class="py-3">
          Premièrement, je ne souhaite pas travailler pour une grosse enseigne de l'informatique car je trouve
          qu'ils ont déjà assez de personnes. Je souheterais plutôt travailler pour une enseigne moins réputée
          par rapport à l'informatique pour pouvoir mettre à jour leurs systèmes, technologies...
        </li>
        <li class="py-3">
          Secondement, je souhaite toujours réaliser des commissions à titre indépendant (même si je suis
          dans une entreprise), car cela me permet d'être à l'écoute d'une certaine clientèle, aider des
          personnes qui ont besoin d'un système de qualité et d'apprendre encore plus.
        </li>
      </ol>
    </div>

    <div class="mb-4">
      <h3 class="font-bold font-sans break-normal  text-3xl md:text-3xl">
        Conclusion
      </h3>
      <ol>
        <li class="py-3">Maecenas accumsan lacus sit amet elementum porta. Aliquam eu libero lectus. Fusce vehicula dictum
          mi. In non dolor at sem ullamcorper venenatis ut sed dui. Ut ut est quam. Suspendisse quam quam, commodo sit
          amet placerat in, interdum a ipsum. Morbi sit amet tellus scelerisque tortor semper posuere.
        </li>
        <li class="py-3">Morbi varius posuere blandit. Praesent gravida bibendum neque eget commodo. Duis auctor ornare
          mauris, eu accumsan odio viverra in. Proin sagittis maximus pharetra. Nullam lorem mauris, faucibus ut odio
          tempus, ultrices aliquet ex. Nam id quam eget ipsum luctus hendrerit. Ut eros magna, eleifend ac ornare
          vulputate, pretium nec felis.
        </li>
        <li class="py-3">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc
          vitae pretium elit. Cras leo mauris, tristique in risus ac, tristique rutrum velit. Mauris accumsan tempor felis
          vitae gravida. Cras egestas convallis malesuada. Etiam ac ante id tortor vulputate pretium. Maecenas vel sapien
          suscipit, elementum odio et, consequat tellus.
        </li>
      </ol>
    </div>

    <blockquote class="border-l-4 border-green-500 italic my-8 pl-8 md:pl-12">
      Je souhaite remercier plusieurs personnes qui m'ont bien informé.
    </blockquote>

    <!--/ Post Content-->

  </div>

  <!--Tags -->
  <div class="text-base md:text-sm text-gray-500 px-4 py-6">
    Tags: <a href="#" class="text-base md:text-sm text-green-500 no-underline hover:underline">Link</a> . <a href="#"
                                                                                                             class="text-base md:text-sm text-green-500 no-underline hover:underline">Link</a>
  </div>

  <!--Divider-->
  <hr class="border-b-2 border-gray-400 mb-8 mx-4">

</div>
<!--/container-->
