<section>
  <div class="py-20 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="mb-16 max-w-md mx-auto text-center">
        <h2 class="mb-2 text-4xl lg:text-3xl font-bold font-heading">A propos de moi</h2>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4">
          <h4 class="mb-4 text-2xl font-bold font-heading">Exeperience & Certifications</h4>
          <p class="text-gray-500 leading-loose">Grâce à mon expérience dans le domaine de l'informatique et mes
            certifications, je suis en mesure de vous fournir un service de qualité.</p>
        </div>
        <div class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4">
          <h4 class="mb-4 text-2xl font-bold font-heading">Rapidité & Efficacité</h4>
          <p class="text-gray-500 leading-loose">Grâce à mes années d'expérience dans ce domaine, je suis en mesure de
            vous fournir un service en un temps record.</p>
        </div>
        <div class="mb-12 lg:mb-0 w-full md:w-1/2 lg:w-1/4 px-4">
          <h4 class="mb-4 text-2xl font-bold font-heading">Professionnalisme</h4>
          <p class="text-gray-500 leading-loose">Grâce à mes années d'expérience dans ce domaine, je me suis adapté au
            monde professionnel pour pouvoir communiquer facilement avec le client.</p>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4">
          <h4 class="mb-4 text-2xl font-bold font-heading">Conseil & Support</h4>
          <p class="text-gray-500 leading-loose">Chacun de mes clients bénéficient d'un support à vie et de conseil sur
            l'installation du service fourni.</p>
        </div>
      </div>
    </div>
  </div>
</section>
