<section>
  <div class="py-20 radius-for-skewed">
    <div class="container px-4 mx-auto">
      <div class="max-w-6xl mx-auto text-center">
        <div class="max-w-lg mx-auto">
          <span class="text-green-600 font-bold"></span>
          <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading">Mes plugins minecraft</h2>
          <p class="mb-6 text-gray-500"></p>
        </div>
        <div class="">

          <button
            routerLink="/achievements"
            class="transform hover:scale-110 motion-reduce:transform-none duration-300 bg-red-600 hover:bg-red-700 text-gray-100 font-bold px-4 py-2 rounded-lg inline-flex items-center"
          >Retour en arrière</button>



        </div>
      </div>
    </div>
  </div>
</section>
